#
# Use .add_data_files and .add_data_dir methods in a appropriate
# setup.py files to include non-python files such as documentation,
# data, etc files to distribution. Avoid using MANIFEST.in for that.
#
include MANIFEST.in
include LICENSE
include INSTALL
include README.rst
include KNOWN_BUGS
include THANKS.txt

include install-CGAT-tools.sh
include requires.txt

exclude scripts/*

# CGAT scripts to include - these
# are named explicitely

# other scripts
include scripts/__init__.py
include scripts/version.py
include scripts/cgat_ruffus_profile.py

# extensions
